# Logs
*.log

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Build artifacts
node_modules/

# Runtime
pid/
*.pid

# User content
static/

# Makefile markers
.devenv-image
